.khan{
  background-color: #F2F2F2;
}

.khan__section {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.khan__section-author{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.Khan__section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__section-description {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin-top: 50px;
}

.khan__section-quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 36px;
}

.khan__section-quote-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
}

.khan__book-container {
  display: flex;
  transform: translateY(470px);
  margin-top: -400px;
  height: 620px;
}

.khan__book-link {
  text-decoration: none;
  color: #2F80ED;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
}
