.techniques {
  width: auto;
}

.techniques__section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.techniques__section-subtitle {
  text-align: center;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
}

.techniques__cards {
  margin-left: 20%;
  padding-top: 60px;
  width: 920px;
}

.techniques__cards-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
}

.techniques__cards-element {
  width: 240px;
  margin-top: 60px;
  margin-bottom: 0;
}

.techniques__cards-image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 40px 0 40px;
}

.techniques__cards-title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 43px;
}

.techniques__cards-description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
