.techniques__section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.techniques__section-subtitle {
  text-align: center;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
}

.techniques__cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 90px;
  padding-top: 60px;
  justify-content: flex-start;
}

.techniques__cards-element {
  width: 250px;
  margin: 60px 100px;
}

.techniques__cards-image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px 40px;
}

.techniques__cards-title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}

.techniques__cards-description {
  line-height: 23px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
