.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* parameters for the header section */
}

.logo_place_header {
  position: absolute;
  width: 154px;
  height: 31px;
  margin-top: 30px;
  margin-left: 64px;
  z-index: 1;
}

.header__title {
  position: relative;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.subtitle {
  position: absolute;
  width: 388px;
  margin-left: 64px;
  margin-bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 4;
}

.subtitle__link {
  color: #2F80ED;
  text-decoration: none;
}

.main-illustration {
  position: absolute;
  width: 756px;
  height: 608px;
  left: 50%;
  bottom: 0;
  z-index: 3;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  left: 62%;
  bottom: 10%;
  z-index: 0;
}


.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

.brief {
  width: 175px;
  line-height: 1.2;
  color: #2F80ED;
  font-size: 18px;
  font-weight: normal;
}

.main-text {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
}

.paragraph {
  margin-bottom: 30px;
}

.span-acent {
  margin-bottom: 30px;
}

.span-acent span {
  font-weight: bold;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  text-align: center;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 1100px;
  padding-top: 60px;
  padding-bottom: 100px;
  justify-content: space-between;
}

.cell {
  width: 250px;
}

li {
  list-style: none;
  vertical-align: text-top;
}

.heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.feynman {
  background-color: #f2f2f2;
  height: 790px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feynman-container {
  position: relative;
  text-align: center;
}

.feynman-title {
  width: 775px;
  margin-left: 19%;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  justify-content: center;
  padding: 100px;
  padding-bottom: 70px;
  margin-bottom: 0;
}

.feynman-subtitle {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman-link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
  right: 50px;
}

/* including elements with key-value modifiers */

.kaufman {
  background-color: #1F1F1F;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color:#f2f2f2;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  text-align: center;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  color: #f2f2f2;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 1100px;
  justify-content: space-between;
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman-triangle{
  position: absolute;
  margin: 15px;
  right: -124px;
}

.footer {
  background-color: #1F1F1F;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
}

.footer_author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 100px;
  margin-left: 15px;
}

.columns {
  display: flex;
  justify-content: space-around;
}

.content-copyright {
  flex-basis: 711px;
}

.column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  padding-left: 0;
}

.column-list {
  padding-left: 0;
}

.social-icons {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  padding-left: 0;
}
